.block {
  background-color: lightgrey;
  width: 100%;
}
.block2 {
  background-color: lightgrey;
  width: 50%;
  margin-top: 10px;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}
.block3 {
  height: 200px;
  width: 600px;
  background-color: lightgrey;
  float: left;
  margin-top: 10px;
}

.block4 {
  height: 200px;
  width: 700px;
  background-color: lightgrey;
  float: right;
  margin-top: 10px;
}
.block5 {
  background-color: lightgrey;
  display: block;
  margin-top: 220px;
  width: 55%;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}
.block6 {
  background-color: lightgrey;
  width: 250px;
  height: 100px;
  display: inline-block;
  margin-top: 10px;
}
.block61 {
  margin-left: 200px;
}
.block7 {
  background-color: lightgrey;
  display: inline-block;
  width: 250px;
  height: 100px;
  margin-top: 10px;
}
.block71 {
  margin-left: 200px;
}
.block8 {
  background-color: lightgrey;
  display: block;
  margin-top: 10px;
  width: 60%;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}
.block9 {
  background-color: lightgrey;
  width: 100%;
  height: 200px;
  margin-top: 10px;
  display: inline-block;
}
.block10 {
  background-color: lightgrey;
  width: 20%;
  margin-top: 10px;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}
.block11 {
  background-color: lightgrey;
  width: 40%;
  margin-top: 10px;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.block12 {
  background-color: lightgrey;
  width: 40%;
  margin-top: 10px;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}
.block13 {
  background-color: lightgrey;
  width: 40%;
  margin-top: 10px;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}
.block14 {
  background-color: lightgrey;
  width: 40%;
  height: 100px;
  margin-top: 10px;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}
.block15 {
  background-color: lightgrey;
  display: inline-block;
  width: 30%;
}
.block151 {
  margin-left: 400px;
  margin-top: 10px;
}
.block16 {
  margin-top: 10px;
  display: inline-block;
  float: left;
  border: 10px solid lightgrey;
  width: 50%;
}
.block17 {
  margin-top: 10px;
  display: inline-block;
  float: right;
  border: 10px solid lightgrey;
  width: 47%;
}
/*.block9a1 {
  display: inline-block;
  border: 10px solid white;
  margin-top: 20px;
  width: 30px;
  height: 10px;
}*/
.row1 {
  display: inline;

  padding-right: 300px;

  border: 10px solid whitesmoke;
}
.table {
  margin-top: 30px;
  margin-left: 250px;
  height: 10px;
}
.row2 {
  display: inline;
  padding-right: 300px;
  border: 10px solid whitesmoke;
}

.table2 {
  margin-top: 20px;
  margin-left: 250px;
  height: 30px;
}
.row3 {
  display: inline;
  padding-right: 300px;

  border: 10px solid whitesmoke;
}

.table3 {
  margin-left: 250px;
  height: 30px;
}
